.main {
    margin: auto;
    width: 750px;
}

.player {
    display: flex;
    border: 3px solid #ccc;
    box-shadow: 5px 10px 10px #888;
    border-radius: 10px;
}

/*magrin/padding: top, right, bot, left */
